@import '@/assets/styles/breakpoints.scss';

.carousel-main {
  .carousel-main-container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);

    .carousel-main-item {
      flex: 0 0 50%;
      transition: 0.4s ease-in-out;
    }
  }

  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
}

